<!-- #region Hello Section -->
<section id="hello" class="hero is-dark">
    <div class="hero-body">
        <h1 class="title">Hello! 👋🏻</h1>
        <h2 class="sub-head">Intro</h2>
        <div class="content">
            <p>
                My name is <b>Linh Pham</b> and I am an IT/DevOps Engineer
                and the person who runs the Stats Page for NPR's
                &quot;<a href="https://waitwait.npr.org">Wait Wait...
                Don't Tell Me!</a>" news quiz show.
            </p>
        </div>

        <h2 class="sub-head">Work</h2>
        <div class="content">
            <p>
                I have worked in both IT and Dev worlds. On the IT side, I have
                designed and managed compute, storage, virtualization, and public
                and private cloud infrastructure. In the past few years, I've moved
                over to the Dev world as a DevOps engineer; where, I build and manage
                CI/CD pipelines for automated application configuration and deployment
                and help teams with adhering to regulatory and process requirements.
            </p>
            <p>
                The operating systems that I currently work with include Windows,
                Linux (primarily Debian-based distributions), macOS and FreeBSD.
                I have also managed and developed applicatons for Solaris and AIX.
            </p>
        </div>

        <h2 class="sub-head">Coding</h2>
        <div class="content">
            <p>
                When I do have a chance to do some development, Python is my
                language of choice. I have also developed and maintained code
                written in C# and PHP. Swift and Go are on my list of languages
                that I would love to learn.
            </p>
        </div>
    </div>
</section>
<!-- endregion About Section -->
