<!-- #region Projects Section -->
<section id="projects" class="hero is-medium">
    <div class="hero-body">
        <h1 class="title">Projects and Hobbies ⌨️</h1>
        <div class="content">
            <p>
                During my spare time, I have started up and continue to work
                on a number of personal projects and taken up a hobby or two.
            </p>
        </div>

        <div class="columns is-multiline">
            <!-- #region Wait Wait Stats Page -->
            <div class="column is-full">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h2>Wait Wait Stats Page 📝</h2>
                            <p>
                                I have collected scoring data, panelist and guest appearances
                                across the history of the NPR weekly news quiz show,
				                &quot;Wait Wait... Don't Tell Me!&quot;, and publish
                                a record of each show and provide panelist statistics as part
                                of the Stats Page.
                            </p>
                            <p>
                                The site is written in Python and uses the Flask lightweight
                                web application framework.
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://stats.wwdt.me" class="card-footer-item">
                            stats.wwdt.me
                        </a>
                        <a href="https://blog.wwdt.me" class="card-footer-item">
                            Stats Page Blog
                        </a>
                        <a href="https://github.com/questionlp/stats.wwdt.me_v5"
                           class="card-footer-item">
                            View Code on GitHub
                        </a>
                    </footer>
                </div>
            </div>
            <!-- #endregion Wait Wait Stats Page -->
        </div>

        <div class="columns is-multiline">
            <!-- #region Marsupial Gurgle -->
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h2>Marsupial Gurgle 🔊</h2>
                            <p>
                                Since 2015, I have been listening to, collecting,
                                editing and archiving audio clips from the podcast
                                 &quot;<a href="https://tbtl.net">TBTL: Too Beautiful
                                to Live</a>&quot;. The site is named after an audio
                                phenomenon that happened on the podcast back in 2014.
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://marsupialgurgle.com" class="card-footer-item">
                            MarsupialGurgle.com
                        </a>
                    </footer>
                </div>
            </div>
            <!-- #endregion Marsupial Gurgle -->

            <!-- #region Wait Wait Stats API -->
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h2>Wait Wait Stats API 🔎</h2>
                            <p>
                                As I got more requests for data from the Wait Wait
                                Stats database, I created an API service that allows
                                people interested in the data to get host, guest,
                                panelist, scorekeeper and show data. The API is
                                built using Python and FastAPI.
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://api.wwdt.me/" class="card-footer-item">
                            Browse API Docs
                        </a>
                        <a href="https://github.com/questionlp/api.wwdt.me_v2"
                           class="card-footer-item">
                            View Code on GitHub
                        </a>
                    </footer>
                </div>
            </div>
            <!-- #endregion Wait Wait Stats API -->

            <!-- #region Wait Wait Reports -->
            <div class="column is-half">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h2>Wait Wait Reports 📄</h2>
                            <p>
                                The Reports site provides detailed reports and search
                                features that provide information that goes beyond what
                                is available on the Wait Wait Stats Page. The site is
                                built using Python and Flask.
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://reports.wwdt.me" class="card-footer-item">
                            reports.wwdt.me
                        </a>
                        <a href="https://github.com/questionlp/reports.wwdt.me"
                           class="card-footer-item">
                            View Code on GitHub
                        </a>
                    </footer>
                </div>
            </div>
            <!-- #endregion Wait Wait Reports -->

            <!-- #region Wait Wait Graphs -->
            <div class="column is-one-half">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h2>Wait Wait Graphs 📊</h2>
                            <p>
                                The Graphs site has interactive charts that graph
                                panelist scoring and appearance, Bluff the Listener
                                and show data. The site is built using Python and
                                Flask, along with the Plotly.js charting library.
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://graphs.wwdt.me" class="card-footer-item">
                            graphs.wwdt.me
                        </a>
                        <a href="https://github.com/questionlp/graphs.wwdt.me"
                           class="card-footer-item">
                            View Code on GitHub
                        </a>
                    </footer>
                </div>
            </div>
            <!-- #endregion Wait Wait Graphs -->
        </div>

        <div class="columns is-multiline">
            <!-- #region Photography -->
            <div class="column is-one-full">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <h2>Photography 📷</h2>
                            <p>
                                Over the years, I have spent a fair amount of time
                                behind the camera, taking photos at track days and
                                other club events for the local chapter of the Audi Club,
                                local car meets and events, and TBTL live events. I have
                                also taken photos in and around Portland, Oregon; as well
                                as, photos for previous social media ventures.
                            </p>
                            <p>
                                I have shot with various Nikon (D300, D500, D800E), Leica
                                (M6 TTL and M9) and Sony (RX100) cameras.
                            </p>
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="https://www.flickr.com/people/questionlp/"
                           class="card-footer-item">
                            Flickr
                        </a>
                        <a href="https://qlpphotography.com" class="card-footer-item">
                            Adobe Portfolio
                        </a>
                    </footer>
                </div>
            </div>
            <!-- #endregion Photography -->
        </div>
    </div>
</section>
<!-- endregion Projects Section -->
