<!-- #region Connect Section -->
<section id="connect" class="hero is-info">
    <div class="hero-body">
        <h1 class="title">Connect 💬</h1>
        <div class="content">
            <p>
                Feel free to connect with me on the socials or via e-mail:
            </p>
        </div>

        <div class="content">
            <p class="buttons">
                <a href="https://twitter.com/questionlp" class="button is-medium is-rounded">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='img/twitter.svg') }}" alt="Twitter Icon">
                    </span>
                    <span>@questionlp</span>
                </a>

                <a href="https://github.com/questionlp" class="button is-medium is-rounded">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='img/github.svg') }}" alt="GitHub Icon">
                    </span>
                    <span>GitHub</span>
                </a>

                <!--
                <a href="https://www.polywork.com/theqlp" class="button is-medium is-rounded">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='img/polywork.svg') }}" alt="Polywork Icon">
                    </span>
                    <span>Polywork</span>
                </a>
                -->

                <a href="https://flickr.com/people/questionlp/" class="button is-medium is-rounded">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='img/flickr.svg') }}" alt="Flickr Icon">
                    </span>
                    <span>Flickr</span>
                </a>

                <!--
                <a href="https://reddit.com/user/_qlp/" class="button is-medium is-rounded">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='img/reddit.svg') }}" alt="Reddit Icon">
                    </span>
                    <span>Reddit</span>
                </a>
                -->

                <a href="mailto:theqlp@icloud.com" class="button is-medium is-rounded">
                    <span class="icon">
                        <img src="{{ url_for('static', filename='img/mail.svg') }}" alt="E-mail Icon">
                    </span>
                </a>
            </p>
        </div>
    </div>
</section>
<!-- endregion Connect Section -->
